
<% if current_user %>
<h3 class = "text-center main-text"> <%= current_user.username%>' s Profile</h3><br>

<div class = "text-center"><%= image_tag(current_user.avatar_thumbnail) %></div><br>
<div class = "text-center">
<%= link_to "Edit Account", edit_user_registration_path ,  class: "btn btn-outline-dark"%>
</div><br>

<% end %>
