
<% if current_user %>
<h3 class = "text-center main-text"> <%= current_user.username%>' s Profile</h3><br>

<div class = "text-center"><%= image_tag(current_user.avatar_thumbnail) %></div><br>
<div class = "text-center">
<%= link_to "Edit Account", edit_user_registration_path ,  class: "btn btn-outline-dark"%>
</div><br>
<%else%>
<h3 >Thanks for seeing you here <h3>

<h6>This is mini chat app, you can create youre profile at this web site , update or delete it.<br>
 You can to create room chat with other users and write public messages or write a private message to a user.<br>
 You can to upload picture on your profile and send files and images in chat.<br>
 First of all you need autorization. </h6>

<% end %>
